.titre {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #900060;
}
.infopratiques {
  color: #F00080;
}
.detailspratiques {
  color :#7000A0;
}
.p {
font-weight: bold;
}
.h2 {
  color: #FF6000;
}
h1 {
   background: rgb(204,204,255);
   padding: 0.5em;
   border: 1px solid #000000;
}
body { margin-left: 15%; margin-right: 15%; }
