.titre {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #900060;
}
.detailspratiques {
  color :#DC143C;
}
p {
font-weight: bold;
}
h2 {
  color: #FF6000;
}
span {
   background: rgb(255,228,225);
   padding: 0.5em;
   border: 1px solid #000000;
   border-top: 10px solid #F08080;
}
body {
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
}
div {
   background: rgb(255,250,250);
   padding: 1em;
   border: 1px solid #000000;
}
ul, ol {
   list-style-type: none;
}
