.titre {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #900060;
}
.infopratiques {
  color: #F00080;
}
.detailspratiques {
  color :#7000A0;
}
.p {
font-weight: bold;
font-size: 15pt;
}
.h2 {
  color: #FF6000;
}
